<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <!-- PAGE INFO -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lifood</title>

    <!-- Icones -->
    <link rel="stylesheet" href="/assets/fonts/style.css" />

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="header">
      <nav class="container">
        <a class="logo" href="#">Li<span>food</span>.</a>
        <!-- menu -->
        <div class="menu">
          <ul class="grid">
            <li><a class="title" href="#home">Início</a></li>
            <li><a class="title" href="#about">Sobre</a></li>
            <li><a class="title" href="https://bit.ly/2Z7Jcjc ">Serviço</a></li>
            <li><a class="title" href="https://bit.ly/3CEvOAX">Seja nosso futuro cliente</a></li>
            <li><a class="title" href="#contact">Contato</a></li>
          </ul>
        </div>
        <!-- /menu -->
        <div class="toggle icon-menu"></div>
        <div class="toggle icon-close"></div>
      </nav>
    </header>

    <main>
      <!-- HOME -->
      <section class="section" id="home">
        <div class="container grid">
          <div class="image">
            <img
              src="https://github.com/vinicio-mendes/mvp-startup-garagem-lepoli/blob/main/assets/Capa01.jpg?raw=true"
              alt="Dois agricultores organicos"
            />
          </div>
          <div class="text">
            <h2 class="title">Os melhores produtores orgânicos que atendem sua demanda</h2>
            <p>
              Conecte-se com uma rede de produtores orgânicos em São Paulo.
            </p>
            <a class="button" href="https://bit.ly/2Z7OXNQ">Encontre o produtor orgânico</a>
          </div>
        </div>
      </section>

      <div class="divider-1"></div>

      <!-- ABOUT -->
      <section class="section" id="about">
        <div class="container grid">
          <div class="image">
            <img
              src="https://github.com/vinicio-mendes/mvp-startup-garagem-lepoli/blob/main/assets/capa02.jpeg?raw=true"
              alt="2 agricultores organicos sorrindo"
            />
          </div>
          <div class="text">
            <h2 class="title">Sobre a visão da Lifood</h2>
            <p>
            </p>
            <br />
            <p>
              O brasil como um todo é um país que possui uma cultura rica e diversa e principalmente nos interiores, roças, granjas e chacarás se escondem produtos de excelentissíma qualidade, mas que não possuem acessibilidade com o mercado e o digital. 
            </p>
            <br />
            <p>
              Inicialmente a Lifood pretende oferecer acesso a uma rede de famílias produtoras, em diferentes regiões do país, para a comercialização de frutas, legumes e verduras orgânicos, conectando diretamente os produtores às empresas e distribuidores.
            </p>
          </div>
        </div>
      </section>

      <div class="divider-2"></div>

      <!------------------------------------------------- Busca ------------------------------------------->
      
      <div class="divider-1"></div>


      <!----------------------------------------------- Seja CLiente---------------------------------- -->
      <section class="section" id="services">
        <div class="container grid">
          <header>
            <h2 class="title">Seja nosso futuro cliente</h2>
            <p class="subtitle">
              Iniciando no mercado de produtos orgânicos, a <strong>Lifood</strong> 
                é um E-commerce que potencializa a comercialização de frutas, legumes e verduras orgânicos.
                  <br>
                  <br>
                  <a class="button" href="https://bit.ly/2Z7Jcjc">Eu topo!</a>
            </p>
          </header>
          <div class="cards grid">
            <div class="card">
              <img src="/assets/fotos/link2.png" alt="">
              <h3 class="title">Conexão</h3>
              <p>
                Vamos conectar as diversas famílias produtoras desse país com a demanda de empresas e distribuidores.
              </p>
            </div>
            <div class="card">
              <img src="/assets/fotos/hands.png" alt="">
              <h3 class="title">Negociação</h3>
              <p>
                Pretendemos atuar no processo de negociação facilitando para ambas partes, tanto o produtor como o distribuidor.
              </p>
            </div>
            <div class="card">
              <img src="/assets/fotos/delivery.png" alt="">
              <h3 class="title">Transporte</h3>
              <p>
                Planejamos construir uma rota que possa interligar o campo e a cidade, controlando assim a distribuição e qualidade dos produtos.
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="divider-2"></div>

      <!-- CONTACT -->
      <section class="section" id="contact">
        <div class="container grid">
          <div class="text">
            <h2 class="title">Entre em contato com a gente!</h2>
            <p>
              Entre em contato com a Lifood, queremos tirar suas dúvidas,
              ouvir suas críticas e sugestões.
            </p>
            <a
              href="https://api.whatsapp.com/send?phone=5565999067583&text=Ol%C3%A1%20Vin%C3%ADcio desejo conversar sobre a lifood."
              class="button"
              target="_blank"
              ><i class="icon-whatsapp"></i> Entrar em contato</a
            >
          </div>

          <div class="links">
            <ul class="grid">
              <li><i class="icon-phone"></i> 65 99906-7583</li>
              <li><i class="icon-map-pin"></i> R. Moncorvo Filho, 388</li>
              <li><i class="icon-mail"></i> contatolifood@gmail.com</li>
            </ul>
          </div>
        </div>
      </section>

      <div class="divider-1"></div>
    </main>

    <footer class="section">
      <div class="container grid">
        <div class="brand">
          <a class="logo logo-alt" href="#home">Li<span>food</span>.</a>
          <p>©2021 Lifood.</p>
          <p>Todos os direitos reservados.</p>
        </div>

        <div class="social grid">
          <a href="https://instagram.com" target="_blank">
            <i class="icon-instagram"></i>
          </a>
          <a href="https://facebook.com" target="_blank">
            <i class="icon-facebook"></i
          ></a>
          <a href="https://youtube.com" target="_blank"
            ><i class="icon-youtube"></i
          ></a>
        </div>
      </div>
    </footer>

    <a href="#home" class="back-to-top"><i class="icon-arrow-up"></i></a>

    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- scrollreveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- main.js -->
    <script src="scripts.js"></script>
  </body>
</html>
