<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesPortfolio.css" >
    </head>
    <body>     
    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <div class="card__image-container {{ 'featured-wrapper' if item.featured }} ">
                <img src="{{item.path}}" alt="Imagem de {{item.title}}">
                {% if item.featured %}
                    <div class="featured">Novo</div>
                {% endif %}
            </div>
            <div class="card__content">
                <p>{{item.title}}</p>
            </div>
            <div class="card__info">{{item.info}}</div>
            <div class="card__products">{{item.products}}</div>
            <div class="email">{{item.email}}</div>
            <div class="telephone">{{item.telephone}}</div>
        </div>
        {% endfor %}
    </section>

    <script src="/scriptsPortfolio.js"></script>
    </body>
</html>